{% extends 'dashboard/instructor/base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-8">
            <div id="content-wrapper" style="padding-top: 10px">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table text-primary"></i>
                        Crear Recurso
                    </div>
                    <div class="card-body">
                        <h2>Crear Recurso</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            
                            {% for form in formset %}
                                {{ form.as_p }}
                            {% endfor %}
                            
                            <button type="submit">Guardar</button>
                        </form>
                        
                        
                        
                        



                        {% endblock body %}