{% extends 'dashboard/instructor/base.html' %}
{% block body %}


<div id="content-wrapper" style="padding-top: 20px">
 
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <div class="card mt-5">
        <div class="card-header">
          <h3>Crear Módulo</h3>
        </div>
        <div class="card-body">
  <div class="card-body">
              {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}


  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"class="btn btn-primary">Crear</button>
    <a href="{% url 'detalle_curso_instructor' codigo=course.codigo %} " class="btn btn-secondary">Cancelar</a>
  </form>
  

        
         </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>



  {% endblock body %}