{% extends 'dashboard/instructor/base.html' %}
{% block body %}

<div id="content-wrapper" style="padding-top: 20px">
    <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Detalle Curso</a>
                </li>
               
            </ol>
          
    </div>

 <div class="row">
    <div class="col-12 mb-3">
      <div id="content-wrapper">
        <div class="container-fluid">
          <div class="card mb-3">
            <div class="card-header">
<h2>Eliminar Módulo - {{ module.title }}</h2>
<p>¿Está seguro de que desea eliminar este módulo?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit">Eliminar</button>
</form>
<a href="{% url 'module_detail_instructor' module_id=module.id %}">Cancel</a>
{% endblock body %}