{% extends 'dashboard/instructor/base.html' %}
{% block body %}

<div id="content-wrapper" style="padding-top: 20px">
    <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="">Detalle Curso</a>
                </li>
               
            </ol>
          
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mt-5">
            <div class="card-header">
<h5>Eliminar Módulo - {{ module.title }}</h5>
<p>¿Está seguro de que desea eliminar este módulo?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a href="{% url 'module_detail_instructor' module_id=module.id %}"class="btn btn-secondary">Cancelar</a>
</form>

{% endblock body %}