{% extends 'dashboard/instructor/base.html' %}
{% block body %}

<div id="content-wrapper" style="padding-top: 20px">
    <div class="container-fluid">
           
    
          </div>
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <div class="card mt-5">
            <div class="card-header">
              <h3>Editar Lección</h3>
            </div>
            <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            

                            <div class="mt-3">
                                
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                <a href="{% url 'module_detail_instructor' module_id=lesson.module.id %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}