{% extends 'dashboard/instructor/base.html' %}


{% load crispy_forms_tags %}

{% block body %}
<div class="container-fluid">
        <div class="row">
          <div class="col-12 mb-3">
          <div class="col-12 mb-3">
          

                <div id="content-wrapper" style="padding-top: 20px">
        <div class="container-fluid">
            <ol class="breadcrumb">
                            
                <li class="breadcrumb-item">
                    <a href="">Courses registrados</a>
                </li>
                
            </ol>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    Actualizar información del cuestionario
                </div>
                <div class="card-body">
                  {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
  <div class="col-sm-12">
    
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'quiz_change_list' %}">Mis Quizzes</a></li>
      <li class="breadcrumb-item"><a href="{% url 'quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'question_change' quiz.pk question.pk %}">{{ question.text }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirmar eliminación</li>
    </ol>
  </nav>
  <h2 class="mb-3">Confirmar eliminación</h2>
  <p class="lead">¿Estás seguro de que deseas eliminar la pregunta? <strong>"{{ question.text }}"</strong> No hay vuelta atrás</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Sí, estoy seguro</button>
    <a href="{% url 'question_change' quiz.pk question.pk %}" class="btn btn-outline-secondary btn-lg" role="button">No importa</a>
  </form>
{% endblock %}
