{% include 'nav.html' %}

{% load static %}


<style type="text/css">
  #about{
    color:;
  }

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .justificado {
      text-align: justify;
    }
</style>


<body id="bg" style="background-image: url('{% static "img/7.jpeg"%}') ;">

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
    ¿Quiénes somos?
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<p id="about" class="justificado">La Facultad de Medicina de la Universidad Industrial de Santander es la unidad académica líder en la formación de profesionales médicos en la región nororiental e incluso en todo el país. Sus egresados tienen un alto nivel académico, científico, moral y socialmente sensible y pueden ayudar a resolver grandes problemas de salud, de igual manera contribuir a mejorar la calidad de vida de los santandereanos y colombianos y promover la convivencia nacional.
  Cuenta con instalaciones académicas y docentes para todos los cursos asociados, y aunque estas se gestionan de forma centralizada para optimizar su uso y mantenimiento, la Facultad de Medicina también cuenta con aulas dedicadas y necesarias para algunas disciplinas si así lo requieren.</p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>












