{% include 'nav.html' %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style type="text/css">
  #about{
    color:;
  }

  #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>


<body id="bg" style="background-image: url('{% static "img/11.jpeg"%}');">

<div class="container-fluid" >
<div class="row">
<div class="col-sm-3" style="color: red ">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 180px   " >
    <div class="card " >
  <div class="card-header text-primary" style="text-align: center;" >
    Revisa nuestras redes sociales, siempre estamos actualizados 
  </div>
</div>


<div class="card mb-4 ">
<div class="card-body ">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">


<ul class="list-group">
  <li class="list-group-item"><a href="https://www.facebook.com//EscMedUIS/photos?locale=es_LA"><i class="fab fa-facebook"></i>Facebook</a></li>
  <li class="list-group-item"><a href="https://www.twitter.com/escmeduis"><i class="fab fa-twitter"></i>Twitter</a></li>
  <li class="list-group-item"><a href="https://www.instagram.com/escuela_medicina_uis/"><i class="fab fa-instagram"></i>Instagram</a></li>
  <li class="list-group-item"><a href="https://uis.edu.co/category/fs-e-medicina-n-es/"><i class="fas fa-globe"></i>Sitio Web</a></li>
  
</ul>


</div>

	<div class="col-sm-3"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>












